.meterContainer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 150px;
    height: 150px;
}



.meterBackground {
    fill: none;
    stroke: #ddd;
    stroke-width: 10;
}

.meterForeground {
    fill: none;
    stroke: red;
    stroke-width: 10;
    transition: stroke-dashoffset 0.5s ease-in-out;
}

.dataDisplay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataValue {
    font-size: 24px;
    font-weight: bold;
}

.unit {
    font-size: 14px;
    color: #666;
}
