.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  padding: 20px;
  background-color: "white";
  height: 100%;
}

.header {
  grid-column: span 3;
  background-color: grey;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

.motors, .pump, .sensors, .water, .status {
  background-color: #ddd;
  padding: 20px;
  border-radius: 10px;
}

.sectionTitle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.sectionContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
}

.statusContainer{
  display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;
}
.status{
  margin-left: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
}
.temp{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tempContainer{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meterTitle{
  width: fit-content;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.stopButton {
  background-color: red;
  aspect-ratio: 1;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-weight: bold;
}

.motorItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.motorItem .label {
  background-color: gray;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.motorItem .data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  align-items: center;
}

.data .bar {
  background-color: green;
  width: 50px;
  height: 20px;
  border-radius: 5px;
}

.statusIndicator {
  display: flex;
  justify-content: space-between;
}

.statusItem {
  background-color: white;
  padding: 10px;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
}

.statusItem.alert {
  background-color: red;
  color: white;
}
